.place-order{
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 50px;
  margin: 100px 0px;
}
.place-order-left{
  width: 100%;
  max-width: max(30%,500px);
}
.place-order-left .title{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
  color: #6d4c41;
  margin-left: 5%;
}
.place-order{
  margin-left: 5%;
  margin-right: 5%;
}
.place-order-left input{
  margin-bottom: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid #6d4c41;
  border-radius: 4px;
  outline-color: #c62828;
}
.place-order-left .multi-field{
  display: flex;
  gap: 10px;
}
.place-order-right{
  width: 100%;
  max-width: max(40%,500px);
}

.payment{
  padding-right: 90px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.payment-option{
  display: flex;
  align-items: center;
  margin: 10px;
  gap: 12px;
  border: 1px solid #000000;
  background-color: rgb(204, 182, 182);
  padding: 12px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.payment-option:hover {
  border-color: #FFB300;
  background-color: antiquewhite;
}

.payment-options button{
  border: none;
  background-color: #c62828;
  color: white;
  padding: 12px 30px;
  border-radius: 4px;
  cursor: pointer;
}

.place-order-submit{
  background-color: #eecb78;
  padding: 10px;
  border-radius: 10px;
  border-style: double 2px black;
  cursor: pointer;
}
.place-order-submit:hover{
  background-color: black;
  color: white;
  border-color: white;
}
.payment-options button:hover {
  background-color: #2E7D32; /* Verde Hierba en hover */
}

@media (max-width:700px) {
  .place-order{
      flex-direction: column;
  }
}
